* {
    margin: 0;
    padding: 0;
}

.page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 50px;
}

@media screen and (max-width: 810px) {
    .header{
        flex-direction: column;
    }
}

@media screen and (max-width: 460px) {
    .header{
        width: 380px;
    }
}

@media screen and (max-width: 380px) {
    .header{
        width: 300px;
    }
}

.header__title{
    font-family: 'PT Serif';
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    margin-right: 250px;
}

@media screen and (max-width: 1024px) {
    .header__title{
        margin-right: 100px;
    }
}

@media screen and (max-width: 850px) {
    .header__title{
        margin-right: 50px;
    }
}

@media screen and (max-width: 460px) {
    .header__title{
        width: 290px;
        font-size: 36px;
        line-height: 47px;
    }
}


@media screen and (max-width: 810px) {
    .header__info{
        margin-top: 50px;
    }
}

.header__subtitle{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.header__text{
    width: 440px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

@media screen and (max-width: 450px) {
    .header__text{
        width: 300px;
        font-size: 14px;
        line-height: 21px;
    }
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
    max-width: 1000px;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 350px) {
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 350px) {
    .card{
        margin-right: 5px;
    }
}

.card__info{
    display: flex;
    flex-direction: row;
}

.card__info-margin{
    margin-top: 100px;
}

@media screen and (max-width: 350px) {
    .card__info-margin{
        margin: auto;
    }
}

@media screen and (max-width: 350px) {
    .card__info-320{
        margin-top: 50px;
    }
}

.card__image{
    width: 250px;
    margin-right: 5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 580px) {
    .card__image{
        width: 150px;
    }
}

@media screen and (max-width: 350px) {
    .card__image{
        width: 120px;
    }
}

.card__position{
    writing-mode: vertical-rl;
    font-family: 'PT Serif';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}

@media screen and (max-width: 350px) {
    .card__position{
        font-size: 10px;
        line-height: 13.25px;
    }
}

.card__name{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 350px) {
    .card__name{
        font-size: 14px;
        line-height: 21px;
    }
}

.footer{
    padding: 80px 0 20px;
}

.footer__copyright{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
}

@media screen and (max-width: 460px) {
    .footer__copyright{
        font-weight: 500;
    }
}