.header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    padding-top: 50px;
}

@media screen and (max-width: 810px) {
    .header{
        flex-direction: column;
    }
}

@media screen and (max-width: 460px) {
    .header{
        width: 380px;
    }
}

@media screen and (max-width: 380px) {
    .header{
        width: 300px;
    }
}